header.header
    .header__container.container  
        a(href="#").header__logo
            img(src="./images/dribbble.svg", alt="Logo")
        nav.header__menu.menu
            ul.menu__list
                li.menu__item 
                    a(href="#").menu__link Туры
                li.menu__item 
                    a(href="#").menu__link Достопримечательности
                li.menu__item 
                    a(href="#").menu__link Фото
                li.menu__item 
                    a(href="#").menu__link О нас
        a(href="#").header__translate
            img(src="./images/translator.svg", alt="")
        button.header__btn.btn-black Choose tour


