main.main 
    .main__container
        .main__new-tours.new-tours.container 
            .new-tours__item
                .new-tours-big-img
                    .new-tours-big-img__content
                        p.new-tours-big-img__title Welcome to beatiful Belarus
                        .new-tours-big-img__btn
                            button.btn-transparent
                                span.btn-transparent__text Discovery
                    img(src="./images/image_title_1/lakes_and_forest_belarus.jpg", alt="image").new-tours-big-img__img
            .new-tours__item 
                .new-tours-small-img
                    img(src="./images/image_title_1/her.jpg", alt="image").new-tours-small-img__img
                    p.new-tours-small-img__title Chernobyl Theme Tour
            .new-tours__item 
                .new-tours-small-img
                    p.new-tours-small-img__title Тур по столице Беларуси
                    img(src="./images/image_title_1/statue-front-printer-Francysk-Skaryna-Belarusian-Minsk.jpg", alt="image").new-tours-small-img__img
        .main__sentence.sentence.container 
            .sentence__item
                a(href="").sentence__link
                     img(src="./images/icon_sentence/hotels.svg", alt="").sentence__icon
                     .sentence__title Отели
                     p.sentence__description Мы предлагаем большинство лучших отелей Беларуси с высоким рейтигом 
            .sentence__item
                a(href="").sentence__link
                     img(src="./images/icon_sentence/transfer.svg", alt="").sentence__icon
                     .sentence__title Трансфер
                     p.sentence__description Любой автомобиль всех марок в вашем ряспоряжении. А также трансфер от самого аэропорта
            .sentence__item
                a(href="").sentence__link
                     img(src="./images/icon_sentence/tours.svg", alt="").sentence__icon
                     .sentence__title Туры
                     p.sentence__description Мы создали более 20 интересных туров по любым городам и местам Беларуси
            .sentence__item
                a(href="").sentence__link
                     img(src="./images/icon_sentence/passport.svg", alt="").sentence__icon
                     .sentence__title Получение визы
                     p.sentence__description Если вы затрудняетесь с получением визы, либо хотите полностью поручить нам ее оформление для вас
        .main__popular-tours.popular-tours  
            .popular-tours__title Популярные туры
            .popular-tours__menu
                .popular-tours__item
                    .popular-tours__content
                        .popular-tours__price 
                        .popular-tours__title-item Брест - город-герой
                        p.popular-tours__description Здесь находится душа 1000-летнего Бреста.
                        button.popular-tours__btn.btn-transparent Подробнее
                    img(src="./images/popular-tours/image_1.png", alt="").popular-tours__img 
                .popular-tours__item
                    .popular-tours__content
                        .popular-tours__price 
                        .popular-tours__title-item Лучшие места Минска
                        p.popular-tours__description Современный европейский город с уютными и красивыми достопричемательностями
                        button.popular-tours__btn.btn-transparent Заказать
                    img(src="./images/popular-tours/image_2.png", alt="").popular-tours__img 
                .popular-tours__item
                    .popular-tours__content
                        .popular-tours__price 
                        .popular-tours__title-item Рождество в Гомеле
                        p.popular-tours__description В этом прекрасном городе проходит один из лучших рождественских карнавалов
                        button.popular-tours__btn.btn-transparent Заказать
                    img(src="./images/popular-tours/image_3.png", alt="").popular-tours__img 
                .popular-tours__item
                    .popular-tours__content
                        .popular-tours__price 
                        .popular-tours__title-item All In One
                        p.popular-tours__description Тур включает в себя все популярные места по всей Беларуси
                        button.popular-tours__btn.btn-transparent Заказать
                    img(src="./images/popular-tours/image_4.png", alt="").popular-tours__img                  
                    
