@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Marcellus&display=swap');

html{
    font-size: 10px;
}
body{
    background-color: #fff;
    color: #575757;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Comfortaa', cursive;
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%
}

@import '_header';
@import '_main';